body{
	margin: 0px;
	background:#212112;
	border:0px;
	box-sizing: border-box;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
a{
	background-color: #B22222;
	display: inline-block;
	color:white;
	margin: 20px;
}
header{

	background-color: #B22222;
	padding: 100px 0px 0px 130px;
}
.botones{
	text-align: center;
	padding: 0px 0px 20px 0px;
}
#panditas.img{
	background:#212112;
	text-align: center;
	padding: 100px 0px 80px 0px;
}
.panda{
	width: 220px;
	height: 220px;
	border:10px solid #808080;
	margin: 20px;
	filter: grayscale(100%);
}
button{
	background-color: #B22222;
	padding: 10px 150px;
}
#text1{
	margin: 20px;
	text-align: justify;
	font-size: 15px;
	width: 450px;
	display: inline-block;
}
#text2{
	margin: 20px;
	text-align: justify;
	font-size: 15px;
	width: 450px;
	display: inline-block;
}
section{
	text-align: center;
}
.x_boton{
	position: absolute;
	z-index: 1;
	margin: 30px;
}
.alinear{
	display: inline-block;

}